---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import HeroContainer from '../sections/HeroContainer.astro';
---

<Layout title="Arquitecture | Flex">
	<Header />
	<main class="w-11/12 mx-auto">
		<HeroContainer/>
	</main>
</Layout>