<section class="w-full grid grid-cols-1 gap-y-4 md:grid-cols-2">
    <img src="/public/image01.png" alt="hero image 1">
    <img src="/public/image02.png" alt="hero image 2">
</section>

<style>
    section{
        img{
            @apply rounded-lg w-full [transition:max-width_500ms_ease-in-out] max-w-[375px] md:max-w-[210px] lg:max-w-[280px] xl:max-w-[320px] [box-shadow:10px_10px_10px_#00000030];
        }
        
        img:last-child{
            @apply justify-self-center;
        }
    }
</style>