<article class="flex flex-col gap-y-4">
  <h1 class="text-3xl font-playfair font-semibold text-balance">
    Build the architecture with art and heart.
  </h1>
  <p class="text-paraghColor">
    Not only building an artistic architectural building but also understanding
    the function and people who will use it
  </p>
  <footer class="flex gap-x-4 w-full max-w-[400px]">
    <a
      class="direction w-full py-2 text-center inline-flex justify-center items-center gap-x-2 rounded-md bg-textColor text-white transition-scale duration-300 hover:scale-105"
      href="#">Get Started</a
    >
    <a
      class="dir w-full py-2 rounded-md inline-flex justify-center items-center gap-x-2"
      href="#">Learn more</a
    >
  </footer>
</article>

<style>
  .direction::after {
    content: url("../public/direction.svg");
    /* background-color: aqua; */
    width: 20px;
    height: 20px;
    rotate: -45deg;
  }
  .dir::after {
    content: url("../public/dir.svg");
    /* background-color: aqua; */
    width: 20px;
    height: 20px;
  }
</style>
