---
import HeroText from "../components/HeroText.astro"
import HeroImages from "../components/HeroImages.astro"
---
<section class="grid grid-cols-1 gap-y-6 md:grid-cols-[1fr_1.7fr]">
    <HeroText/>
    <HeroImages/>
</section>